*{
	margin:  0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	background-image: url(../images/3.png);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.button{
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
}

.btn:hover{
	background-color: #fff;
	color: #000;
}