*{
	margin:  0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/3.png);
	height: 99vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;

}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #fff transparent;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}

.logo img{
	float: left;
	width: 100px;
	height: auto;
}

.main{
	margin: 5px;
}

.title{
	position: absolute;
	top: 40%;
	left: 23%;
	transform: translate(-50%,-50%);
}

.title h2{
  color: #fff;
  font-size: 50px;
  font-family: gabriola;
}

.title h3{
  color: #fff;
  font-size: 50px;
  font-family: gabriola;
}


.button{
	position: absolute;
	top: 50%;
	left: 13%;
	transform: translate(-50%,-50%);
}

.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
}

.btn:hover{
	background-color: #fff;
	color: #000;
}

.bookImg img{
	position: absolute;
	top: 10%;
	left: 47%;
}